body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.circ-img {
  height:20%;
  width:20%;
  border-radius: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  margin-bottom: 5%;
}

.loginpage {
  position: absolute;
  right: 0px;
  width: 60%;
  margin: auto;

}
input[type=text], input[type=password] {   
  width: 50%;   
  margin: 8px 0;  
  padding: 12px 20px;   
  display: inline-block;   
  border: 2px solid green;   
  box-sizing: border-box;   
}  
button {   
  background-color: #4CAF50;   
  width: 50%;  
   color: orange;   
   padding: 15px;   
   margin: 10px 0px;   
   border: none;   
   cursor: pointer;   
    }   

.container {
  display:flex;
  width:50%;
}
.container-child {
  margin: auto;  

}
.forgotpassword {
  width: 40%;
  margin: auto;
}
.backbutton {
  width: 100%;
}
